// Colors
$primary: #000;
$secondary: #f4bc74;
$white: #fff;
$gray: #444;

// Light color
$light-white: #fffffff0;
$light-gray: rgb(153, 151, 151);
$light-horizontal: #99979736;

// Custom colors 
$body-gray: #f1f3f5;
$iconColor: #ced4da;

// Backgrounds
$primary: #000;
$secondary: #f4bc74;
$iconBg: linear-gradient(270deg,#ced4da,#fff 331.58%);
$base-2: #f8f9fa;



// Screen Size
$max-width-s: 70vw;
$max-width-m: 80vw;
$max-width-l: 85vw;
$max-width-lg: 90vw;


// Resolution
$desktop: 1660px;
$tablet: 1024px;
$mobile: 786px;


// Font Size
$size-1: 10px;
$size-2: 11px;
$size-3: 12px;
$size-4: 13px;
$size-5: 16px;
$size-6: 18px;
$size-7: 22px;
$size-8: 24px;
$size-9: 28px;
$size-10: 32px;
$size-11: 35px;
$size-12: 40px;
$size-13: 50px;
$size-14: 60px;
$size-15: 80px;



// Weight
$weight-1: 400;
$weight-2: 500;
$weight-3: 600;
$weight-4: 700;
$weight-5: 800;
$weight-6: 900;


// Margins 
$margin-1: 10px;
$margin-2: 20px;
$margin-3: 30px;
$margin-4: 40px;
$margin-5: 50px;
$margin-6: 80px;
$margin-7: 100px;
$margin-8: 150px;

// Paddings
$padding-1: 10px;
$padding-2: 20px;
$padding-3: 30px;
$padding-4: 40px;
$padding-5: 50px;
$padding-6: 80px;
$padding-7: 100px;
$padding-8: 150px;


$radius-s: 5px;
$radius-m: 10px;
$radius-l: 25px;
$radius-lg: 50px;

